<div class="container">
    <div class=" w-100 d-flex justify-content-end">
        <a class="btn btn-outline-success m-2 " (click)="hienform()">

            <i class="fe fe-plus-circle me-2"></i> <span>Thêm nhà xuất bản</span>
        </a>
    </div>
    <div class="container w-60" *ngIf="checkForm == true">
        <form class="row" action="" method="post" (submit)="onSubmit()" [formGroup]="formNXB">
            <div class="col-6">
                <div>
                    <label for="">Tên</label>
                    <input type="text" class="form-control" formControlName="ten">
                    <span class="text-danger ms-1" *ngIf="!formNXB.get('ten')?.valid && formNXB.get('ten')?.touched">
                        Bạn chưa nhập dữ liệu!</span>
                </div>
                <div>
                    <label for="">Địa chỉ</label>
                    <input type="text" class="form-control" formControlName="diaChi">
                    <span class="text-danger ms-1"
                        *ngIf="!formNXB.get('diaChi')?.valid && formNXB.get('diaChi')?.touched">
                        Bạn chưa nhập dữ liệu!</span>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-2">
                    <label for="">Mô tả</label>
                    <textarea type="text" class="form-control" formControlName="moTa"></textarea>
                </div>
                <!-- <div>
                    <label for="">Trạng thái</label>
                    <div>
                        <label for="ative" class="me-2">Hoạt động</label><input class="me-3" type="radio"
                            formControlName="trangThai" value="1" id="ative" />
                        <label for="unative" class="me-2">Không hoạt động</label> <input type="radio"
                            formControlName="trangThai" value="0" id="unative" />
                    </div>
                </div> -->
                <mat-radio-group formControlName="trangThai">
                    <mat-radio-button [checked]="checkStatus" value="0">Hoạt động</mat-radio-button>
                    <mat-radio-button [checked]="!checkStatus" class="mx-2" value="1">Không hoạt động</mat-radio-button>
                </mat-radio-group>
                <div class="text-center row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-primary form-control mt-2">Save</button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-secondary form-control mt-2"
                            (click)="cancelForm()">Cancel
                        </button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-dark form-control mt-2 col-6"
                            (click)="resetForm()"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table mt-2">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Mô Tả</th>
                <th scope="col">Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getAll">
                <th scope="row">{{item.id}}</th>
                <td>{{item.ten}}</td>
                <td>{{item.diaChi}}</td>
                <td>{{item.moTa}}</td>
                <td>{{item.trangThai == 1 ?'Hoạt động':'Không hoạt động'}}</td>
                <td>
                    <button (click)="onEdit(item)" type="button" title="Sửa"
                        class="btn btn-sm btn-outline-warning mg-r-2 ng-star-inserted"><span _ngcontent-mut-c224=""
                            class="fe fe-edit"></span></button>
                    <button (click)="onConfirm(item)" type="button" title="Xóa"
                        class="btn btn-sm btn-outline-danger mg-l-2 ng-star-inserted"><span _ngcontent-lsg-c224=""
                            class="fe fe-trash-2"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>